pipeline/get_logs_cp_dataForSQLTable.json
{
	"name": "get_logs_cp_dataForSQLTable",
	"properties": {
		"activities": [
			{
				"name": "cp_data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText4",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "cp_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT '@{pipeline().DataFactory}' as DataFactory_Name,\n'@{pipeline().Pipeline}' as Pipeline_Name,\n'@{pipeline().RunId}' as RunId,\n'emp_table' as Source,\n'emp_table csv' as Destination,\n'@{activity('cp_data').output.rowsRead}' as RowsRead,\n'@{activity('cp_data').output.dataRead}' as dataRead,\n'@{activity('cp_data').output.dataWritten}' as dataWritten,\n'@{activity('cp_data').output.filesWritten}' as filesWritten,\n'@{activity('cp_data').output.throughput}' as throughput,\n'@{activity('cp_data').output.rowsCopied}' as RowsCopied,\n'@{activity('cp_data').output.copyDuration}' as copyDuration,\n'@{activity('cp_data').output.executionDetails[0].status}' as Execution_Status,\n'@{activity('cp_data').output.executionDetails[0].start}' as start,\n'@{utcnow()}' as ErrorLoggedTime",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText5",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data3",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "cp_data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "\nSELECT '@{pipeline().DataFactory}' as DataFactory_Name,\n'@{pipeline().Pipeline}' as Pipeline_Name,\n'@{pipeline().RunId}' as RunId,\n'emp_table' as Source,\n'emp_table CSV File' as Destination,\n'@{activity('cp_data').output.executionDetails[0].status}' as Execution_Status,\n'@{activity('cp_data').output.errors[0].EventType}' as EventType,\n'@{activity('cp_data').output.errors[0].Category}' as Category,\n'@{activity('cp_data').output.executionDetails[0].status}' as Execution_Status,\n'@{activity('cp_data').output.executionDetails[0].start}' as start,\n'@{replace(activity('cp_data').output.errors[0].Message,'''','')}' as ErrorDescriprion,\n'@{utcnow()}' as ErrorLoggedTime",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText6",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}